
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: LightGray; /* LightSlateGray; /* DarkSlateGray; /* Tomato; */
}


.Container {
  position: relative;
  width: 95%;
  height: 600px;
  margin: 5px;

  border: solid 2px IndianRed;
}


#TestAreaID {
  width: 100%;
  padding: 5px;

  border: solid 2px brown;
}


#ImageID {
  width: max-content;
  margin: 5px;


  border: solid 2px brown;
}


#CanvasID {
  margin: 5px;

  border: solid 2px brown;
}
